idea-engine/automations/slack-reaction-to-notion-claude.json
{
  "name": "Content Ideas — Auto-approve ✅ reactions → Notion (Claude API)",
  "flow": [
    {
      "id": 1,
      "module": "slack:GetConversationHistory",
      "version": 1,
      "parameters": {
        "channel": "D0ACR4UPR2P",
        "limit": 20,
        "oldest": "{{addSeconds(now; -86400)}}"
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 }
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{1.messages}}"
      },
      "metadata": {
        "designer": { "x": 200, "y": 0 }
      }
    },
    {
      "id": 3,
      "module": "builtin:BasicFilter",
      "version": 1,
      "parameters": {
        "label": "Has ✅ reaction",
        "condition": {
          "a": "{{contains(map(2.reactions; 'name'); 'white_check_mark')}}",
          "b": "true",
          "o": "text:equal"
        }
      },
      "metadata": {
        "designer": { "x": 400, "y": 0 }
      }
    },
    {
      "id": 4,
      "module": "builtin:BasicFilter",
      "version": 1,
      "parameters": {
        "label": "Is a content idea (has Hook or Angle)",
        "condition": {
          "a": "{{contains(2.text; 'Hook') OR contains(2.text; 'Angle')}}",
          "b": "true",
          "o": "text:equal"
        }
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 }
      }
    },
    {
      "id": 5,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompression": true
      },
      "mapper": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "headers": [
          {
            "name": "x-api-key",
            "value": "{{your_anthropic_api_key}}"
          },
          {
            "name": "anthropic-version",
            "value": "2023-06-01"
          },
          {
            "name": "content-type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{{toJSON({\"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 500, \"system\": \"Extract content idea fields from this Slack message. Return ONLY a valid JSON object with these exact keys: idea, hook, angle, format, source. No explanation, no markdown, just raw JSON. Format must be one of: Hot take, Story, Case study, Educational, Insightful, Announcement, Engagement. If a field is missing, use empty string.\", \"messages\": [{\"role\": \"user\", \"content\": 2.text}]})}}"
      },
      "metadata": {
        "designer": { "x": 800, "y": 0 }
      }
    },
    {
      "id": 6,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{parseJSON(parseJSON(5.body).content[1].text)}}"
      },
      "metadata": {
        "designer": { "x": 900, "y": 0 },
        "notes": "Parses Claude's JSON response"
      }
    },
    {
      "id": 7,
      "module": "notion:CreateDatabasePage",
      "version": 1,
      "parameters": {
        "databaseId": "db114d17-c172-4b1b-a775-8850fb69a44e"
      },
      "mapper": {
        "Idea": "{{parseJSON(parseJSON(5.body).content[1].text).idea}}",
        "Hook": "{{parseJSON(parseJSON(5.body).content[1].text).hook}}",
        "Angle": "{{parseJSON(parseJSON(5.body).content[1].text).angle}}",
        "Format": "{{parseJSON(parseJSON(5.body).content[1].text).format}}",
        "Source": "{{parseJSON(parseJSON(5.body).content[1].text).source}}",
        "Status": "Approved",
        "Date Added": "{{formatDate(now; 'YYYY-MM-DD')}}"
      },
      "metadata": {
        "designer": { "x": 1100, "y": 0 }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": { "orphans": [] }
  }
}
